/* #container-box {
    background-color: black;
  
    font-size: 2vh;
    color: cornsilk;
    text-align: center;
  } */


.container{
  background-color: #a6d592;
  border: 3px solid #8e9279;
  padding: 1vh;
  margin: 1vw;
  margin-right: 80vw;
  text-align: center;
}

#btn{
  background-color: silver;
  border: none;
  border-radius: 50%;
  padding: 1.5vh;
  margin: auto;
  font-size: 125%;
  box-shadow: 2px 2px 10px;
  transition: 0.5s;
  display: flex;
}
#btn:hover{
  transform: scale(1.15);
}

.card{
  background-color: #e75254;
  padding: 1vw;
  margin: 5vh 40vw;
  border: 5px solid #c63f41;
  align-items: center;
  text-align: center;
  animation: fadeIn 0.5s;
  transition: 0.35s;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.card-img{
  max-width:100%;
  max-height:100%;
}
.card:hover{
  transform: scale(1.1);
}

#removecard{
  margin: 0.5vh;
  margin-top: 1vh;
  font-size: 110%;
  padding: 1vh;
  border: 2px solid white;
  color: white;
  border-radius: 50%;
  background-color: red;
  transition: 0.25s;
}
#removecard:hover{
  background-color: darkred;
}

#e75254
#000407